body{
    padding: 0;
    margin: 0;
}
.header{
    background-color: #def2f1;
    height: 110px;
    display: flex;
    font-family: Mukta, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    min-width: 1100px;
    background-size: contain;
}
.center{
    display: flex;
}
.author{
    max-width: 700px;
    padding-top: 10px;
    padding-left: 15px;
    font-family: Mukta, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 18px;
    color: #3aafa9;
    line-height: 1.5;
    min-width: 350px;
}
.header .labName{
    max-width: 1000px;
    margin: auto;
    font-family: Mukta, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #3aafa9;
    text-align: center;
    min-width: 300px;
}

form label {
    position:relative;
}

inputText:invalid {
    box-shadow: 0 0 5px 1px red;
}

.img_zone {
    min-width: 300px;
    text-align: center;
    margin: auto 0;
}
img{
    height: auto;
    width: 250px;
}
hr{
    background: #3aafa9;
    display: block;
    height: 2px;
    border: 1px solid #17252a;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #def2f1;
}
#line{
    height: 2px;
    background: #def2f1;
    width: 80%;
}
.background{
    background-color: #feffff;
    min-height: 100%;
    text-align: center;
}
a {
    color: #3aafa9;
    margin: 60px 0 60px 0;
}

a:hover {
    color: #2b7a78;
}
.panel{
    margin: auto;
    text-align: center;
    display: flex;
    max-width: 1500px
}
.panel > .img_frame{
    max-width: 600px;
    min-width: 400px;
    margin-top: 20px;
    margin-left: 15px;
    width: 30%;
    height: 400px;
}
.img_frame .canvas_container{
    margin: 30px;
    padding: 15px;
    width: 320px;
    height: 320px;
    border-radius: 20px;
    background-color: #feffff;
    border: 3px solid #AFA5A5;
}
.panel > .input_values{
    max-width: 800px;
    min-width: 400px;
    margin: 50px;
    width: 40%;
    height: 350px;
    border-radius: 20px;
    border: 3px solid #AFA5A5;
    background-color: #feffff;
}
.panel > .result_table{
    max-width: 800px;
    min-width: 400px;
    margin: 50px;
    width: 30%;
    height: 300px;
    border: 3px solid #AFA5A5;
    overflow: auto;

}
.result_table table{
    padding: 10px;
    width: 100%;
    background-color: rgba(205, 205, 205, 0.85);
}
.result_table tr,td{
    border: 3px solid #AFA5A5;
    color: #2b7a78;
    text-align: center;
    height: 15px;
}
h4,label{
    color: #2b7a78;
}
.coorX,.y_zone, .coorR{
    height: 80px;
    width: 100%;
}
.ui-slider{
    margin: auto;
    width: 50%;
}
.r_buttons{
    margin: 10px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    background: #2b7a78;
    border:2px solid #ACACAC;
    overflow: hidden;
    font-family: Mukta, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #E6E6E6;
    outline: none;
}
.coorY{
    margin: 10px;
    background: none;
    text-align: center;
    border: 2px solid #3aafa9;
    padding: 10px 5px;
    width: 200px;
    outline: none;
    border-radius: 24px;

}
.coorY:focus{
    width: 270px;
    border-color: #2ecc71;
}
.coorY::placeholder{
    color: #2b7a78;
}
.send_button{
    width: 200px;
    background: #2b7a78;
    border:2px solid #ACACAC;
    padding: 5px 10px;
    overflow: hidden;
    border-radius: 20px;
    font-family: Mukta, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    color: #E6E6E6;
    outline: none;
}
.link{
    text-align: center;
}
.send_form{
    padding: 0;
}
.selR {
    background-color: #2b7a78 ;
    color: white ;
    box-shadow: 2px 2px 0 #3aafa9;
}
.send_form .input_err {
    background-color: #E40045;
    border-color: #94002D;
    box-shadow: 0 4px 4px #94002D;

}